* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #f7f4ea;
    font-family: "Lexend", sans-serif;
}

a {
    text-decoration: none;
}

#header {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #899e8b;
    z-index: 1;
    a,
    a:visited {
        color: #f7f4ea;
    }

    .hdr {
        color: #f7f4ea;
        width: 70%;
        min-height: 4.375rem;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 0px;
        height: 100%;
        text-align: center;
        font-size: 1.5rem;
    }

    .optn {
        display: grid;
        align-items: center;
    }

    .optn:hover {
        width: 100%;
        height: inherit;
        background-color: #7b8e7d;
    }
}

.break {
    height: 7vh;
}

#main {
    width: 70%;
    min-height: fit-content;
    color: #454238;

    .bckg-img {
        width: 100%;
        height: 20rem;
        opacity: 0.3;
        object-fit: cover;
        object-position: 0 68.5%;
    }

    .txtOvrImg {
        width: inherit;
        text-align: center;
        position: absolute;
        top: 20%;
        font-size: 4rem;
    }

    .shopDescription {
        margin-top: -0.25rem;
        font-size: 1.5rem;
        text-align: center;
        background-color: #899e8b;
        padding: 3rem;
        span {
            width: 80%;
        }
    }

    .opnngHrs {
        text-align: center;
        padding: 5rem;
        font-size: 1.5rem;
    }

    .location {
        padding: 3rem;
        font-size: 1.5rem;
        background-color: #899e8b;
        text-align: center;
        width: 100%;
        iframe {
            width: 70%;
            height: 20rem;
        }
    }

    .reviews {
        padding: 3rem;
        font-size: 1.5rem;
        h2 {
            text-align: center;
        }
    }
}

#footer {
    background-color: #899e8b;
    width: 100%;
    color: #f7f4ea;
    height: 20vh;
}

/* rich-black:  #010b13*/
